html{
  background-color: white;
  scroll-behavior: smooth;
}
*{
  font-family: benton-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
}
body{
  opacity: 1;
  transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
/* ------NAVBAR------ */
/* #navbar{
  display: grid;
  grid-template-columns: 40% 15% 15% 15% 15%;
  text-align: center;
  padding: 32px;
}
#navbar a{
  color:#707070;
  background-color: white;
  text-decoration: none;
  font-size: 130%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#navbar a:hover{
  color: #D06355;
}
#navbar div.txt{
  margin-top: 40px;
  font-size: 15px;
}
#navbar div a.active{
  color:#D06355;
  border-bottom: 1px solid #D06355;
  padding-bottom: 3px;
} */
.navbar{
  margin-top: 0;
  
}
.navbar-brand{
  margin-left: 30px;
  padding: 0;
}
.bg-light{
  background-color: white!important;
}
.navbar-toggler{
  border: none;
}
.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}
button:focus {outline:0;}

.navbar-nav{
  margin-left: 30px;
  /* display: inline-block; */
  
  /* float:right; */
  margin-top: 30px;
}
a.nav-link{
  margin-right: 7px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #D06355;
}
.logo{
  float: left;
  width: 70px;
  height:70px;
  filter: grayscale(0%);
  /* margin-left: 40px; */
  margin-top: 15px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* position: fixed; */
}
.logo:hover{
  box-shadow: 0px 11px 0px -1px rgba(255,217,0,1);
}
/* ----INTRO----- */
.intro{
  padding-left: 8%;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-right: 8%;
}
h1{
  font-size: 37px;
}
h3{
  font-size: 25px;
  line-height: 200%;
  margin-top: 25px;
  margin-bottom: 0;
}
.highlight{
  background-color: #ffd1cf;
}
.spacing{
  line-height: 20pt;
}
p{
  margin:0;
}
.small{
  font-size: 16px;
}
.medium{
  font-size: 19px;
  line-height: 180%;
  margin-bottom: 15px;
  /* font-family: benton-sans medium, sans-serif; */
  margin-top: 0;
}
.tight{
  margin-right: 25px;
  margin-left: 25px;
}
.marg_top{
  margin-top: 40px;
}
a{
  text-decoration: none;
  color:#D06355;
}
li{
  margin-bottom: 5px;
  line-height: 20pt;
 }
/* ------------OVERALL FUNVISUALS--------- */
.funVisuals{
  padding-top: 50px;
}
/* ------HEADER---------- */
.header{
  padding-left: 8%;
  padding-right: 8%;
}
.style{
  border-radius: 150px;
  border: 6px solid #F46F5E;
  padding: 15px;
  width: 100px;
  height: 5px;
  color: white;
}
/* p{
  background-color: #F46F5E;
  text-align: center;
  padding: 0;
} */
.headernav{
  display: grid;
  grid-template-columns: 200px 50px;
}
img{
  width: 100%;
}
.image{
  margin-bottom: 50px;
  border-radius: 10px;
  

}
.grid{
  position: relative;
  display: grid; /* IE10 */
  flex-wrap: wrap;
  /* padding: 0 8px; */
  -webkit-box-align: center;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  grid-column-gap:40px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.col1 {
    grid-column-start: 1;
    grid-column-end:2;
}
.col2 {
    grid-column-start: 2;
    grid-column-end:3;
}
.grid2{
  position: relative;
  display: grid; /* IE10 */
  flex-wrap: wrap;
  /* padding: 0 8px; */
  -webkit-box-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-self: center;
  grid-column-gap:0px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.col1_2 {
    grid-column-start: 1;
    grid-column-end:5;
}
.col2_2 {
    grid-column-start: 5;
    grid-column-end:8;
}
.center2{
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: .3;
  height:70px;
  width:80px;
  margin-top: 80px;
  margin-bottom: 0;
}
.center2.slideup:hover {
    -webkit-transform: translate(0,-1em);
    -moz-transform: translate(0,-1em);
    -o-transform: translate(0,-1em);
    -ms-transform: translate(0,-1em);
    transform: translate(0,-1em);
    opacity: 1;
  }
  .arrowInfo2{
    text-decoration: none;
    text-align: center;
    /* vertical-align: middle; */
    color: black;
    /* display: table-cell; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  .arrowInfo2:hover{
    text-decoration: none;
    color: black;
    text-align: center;    
    vertical-align: middle;

  }
#socials{
  /* display: inline-block; */
  /* float: left; */
  text-align: center;
  /* justify-content: center; */
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width:300px;
}
.svgs{
  /* float: left; */
  /* text-align: center; */
  height: 30px;
  width: 30px;
  margin-right: 20px;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: .3;
}
.svgs:hover{
  opacity: 1;
}
.footnote{
  text-align: center;
  background-color: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}
@media screen and (max-width: 800px) {
  .grid{
    display: block;
  }
  #navbar{
    display: block;
  }
  .center{
    text-align: center;
  }
  .resume{
    font-size: 20px;
  }

}
