*{
  font-family: benton-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* ------NAVBAR------ */
.navbar{
  display: grid;
  grid-template-columns: 40% 15% 15% 15% 15%;
  text-align: center;
  padding: 32px;
}
.navbar a{
  color:#707070;
  background-color: white;
  text-decoration: none;
  font-size: 130%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.navbar div.txt{
  margin-top: 40px;
  font-size: 15px;
}
.navbar div a.active{
  color:#D06355;
  border-bottom: 1px solid #D06355;
  padding-bottom: 3px;
}
.logo{
  float: left;
  width: 65px;
  height:65px;
}

/* ----INTRO----- */
.intro{
  padding-left: 8%;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-right: 8%;
}
h1{
  font-size: 37px;
}
h3{
  font-size: 25px;
  line-height: 200%;
}
.highlight{
  background-color: #ffd1cf;
}

/* ------------OVERALL FUNVISUALS--------- */
.funVisuals{
  padding-top: 50px;
}
/* ------HEADER---------- */
.header{
  padding-left: 8%;
  padding-right: 8%;
}
.style{
  border-radius: 150px;
  border: 6px solid #F46F5E;
  padding: 15px;
  width: 100px;
  height: 5px;
  color: white;
}
p{
  background-color: #F46F5E;
  text-align: center;
  padding: 0;
}
.headernav{
  display: grid;
  grid-template-columns: 200px 50px;
}

/*---PHOTOGRAPHY GRID-----*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 8px;
    /* align-items:center; */
    margin: auto;
    padding-left: 8%;
    padding-right: 8%;
}
/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 28%; /* IE10 */
    flex: 28%;
    max-width: 28%;
    padding: 0 8px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
}
.column img:hover{
  /* opacity: .4; */
  -webkit-filter:
  grayscale(0%);
  filter:grayscale(50%);
  /* filter: blur(2px); */
  filter:drop-shadow(8px 8px 10px gray);

}
img{
  width: 100%;
}




/* ------MOBILE: GRID (TO DO: NAVBAR)------- */]

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1500px) {

}


@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
